# Backend
/backend/target/
/backend/.mvn/
/backend/.idea/
/backend/.classpath
/backend/.project
/backend/.settings/
/backend/.vscode/
*.iml

# Frontend
/frontend/node_modules/
/frontend/dist/
/frontend/.vite/

# OS
.DS_Store
Thumbs.db

# Env
.env
